<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wildwolf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wildwolf"
        android:supportsRtl="true"
        android:theme="@style/Theme.Study" >

        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.zztestesdesconsiderar.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Study">
        </activity>

        <activity
            android:name=".ui.activities.VideoActivity"
            android:exported="false"
            android:theme="@style/Theme.Study">
        </activity>

<!--        <activity-->
<!--            android:name=".ui.features.SDUIActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.Study">-->
<!--        </activity>-->

    </application>

</manifest>